body {
    font-family: "Montserrat", sans-serif;
}

h1{
    margin: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
}

.titulo{
    text-decoration: underline;
}

.trabalho01{
    background-color: #eee;
    padding: 24px;
}

#pessoas{
    margin-bottom: 30px;
}